{% extends "main.html" %}
{% block content %}
	<div class="row banner main blue">
		<div class="col-md-1"></div>
		<div class="col-md-9 padding-none">
			<h1>Catalog App</h1>
		</div>
		<div class="col-md-2 text-right">
			<a href="{{url_for('showLogin')}}"><font color="black">Login</font></a>
		</div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="col-md-1"></div>
	<div class="col-md-3 catagory-list">
		<h2 align="left">Categories</h2>
		{% for catagory in catagories %}
			<a href = "{{url_for('showObject', catagory_name = catagory.name)}}">
				<div class="row">
					<h3>{{catagory.name}}</h3>
				</div>			
			</a>
		{% endfor %}
	</div>
	<h2 align="left">Latest Items</h2>
	<div class="col-md-7 catagory-list">
		{% for object in objects %}
			<a href = "{{url_for('showDescriptionRedirect', catagory_id = object.catagory_id, object_name = object.name)}}">
				<div class="row">
					<h3>{{object.name}}</h3>
				</div>
		{% endfor %}
	</div>
	<div class="col-md-1"></div>
{% endblock %}